body {
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5588FF;    
}


.container-global {    
    width: 50%;
    margin: 5% auto;
    border-radius: 10px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    justify-content: center;
}

.container {    
    width: 100%;
    padding: 10px;
    background-color: #FFF;    
    border-radius: 10px;
    text-align: center;
}


.formulario {
   margin: 15px;
}

p {
    color: #666;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

input {
    width: 95%;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid #5588FF;
    outline: none;
    color: #666;
    text-align: center;
    font-size: 1rem;
}

input:focus {
    background-color: rgb(230, 255, 250);
}

input[type=submit] {
    width: 100%;
    height: 50px;
    background-color: #5588FF;
    color: #FFF;
}

input[type="submit"]:hover {   
    background-color: #3070FF;
    transition: 1s all;  
}

table {
    margin: 20px auto;
    text-align: center;
    border: 1px solid #5588FF;
    border-collapse: collapse;    
    width: 95%;
}

tr, td {
    border: 1px solid #5588FF;
    color: #666;
}

th {
    background-color: #5588FF;
    color: #FFF;
}

.btn {
    margin: 10px;
    padding: 10px 50px;
    background-color: #5588FF;
    color: #FFF;
    text-decoration: none;
    border-radius: 10px;
}